body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  
}

nav {
  background-color: #635757;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: rgb(238, 167, 167);
  text-decoration: none;
  padding: 10px 20px;
}

nav ul li a:hover {
  background-color: #555;
  color: rgb(63, 19, 19);
}

h1,
h2 {
  text-align: center;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  margin: 10px 0;
}

form input,
form select,
form textarea {
  padding: 10px;
  margin: 10px 0;
  width: 300px;
}

form button {
  padding: 10px 20px;
  background-color: #7a0909;
  color: rgb(206, 186, 186);
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

footer {
  background-color: #d88a8a;
  color: rgb(219, 210, 210);
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer h2 {
  margin-top: 0;
}
